# Real-world Data Wrangling

## 1. Gather data



In this project, I will be examining two datasets related to fatal helicopter accidents from 01/01/2002 to present day. From the data, I would like to understand and visualize which aircraft make and model has had the most fatal crashes and the type of aircraft that has the most fatalities.

### **1.2.** Gather at least two datasets using two different data gathering methods

In [20]:
import pandas as pd

#### **Dataset 1**

Type: CSV File 

Method: The data was gathered using the "Downloading files" method from NTSB.org. The NTSB database was queried and produced a CSV file for download. 

There are many variables in this dataset. I will pick a few that are the most relevant to this project. 

Dataset variables:

*   Variable 1 NtsbNo: specific NTSB record identification number
*   Variable 2 AmatuerBuilt: indicates whether the aircraft was type certificated or not
*   Variable 3 Make: this is the manufacturer of the helicopter (e.g  Bell, Boeing, Airbus, Sikorsky)
*   Variable 4 Model: this is the specific model of helicopter from the manufacturer (e.g 505, R44, EC120, etc)

In [21]:
#FILL IN 1st data gathering and loading method
df_csv = pd.read_csv("helicopter_crash_data.csv")
df_csv.columns

Index(['NtsbNo', 'EventType', 'Mkey', 'EventDate', 'City', 'State', 'Country',
       'ReportNo', 'N', 'HasSafetyRec', 'ReportType', 'OriginalPublishDate',
       'HighestInjuryLevel', 'FatalInjuryCount', 'SeriousInjuryCount',
       'MinorInjuryCount', 'ProbableCause', 'EventID', 'Latitude', 'Longitude',
       'Make', 'Model', 'AirCraftCategory', 'AirportID', 'AirportName',
       'AmateurBuilt', 'NumberOfEngines', 'Scheduled', 'PurposeOfFlight',
       'FAR', 'AirCraftDamage', 'WeatherCondition', 'Operator', 'ReportStatus',
       'RepGenFlag', 'DocketUrl', 'DocketPublishDate', 'Unnamed: 37'],
      dtype='object')

#### Dataset 2

Type: JSON File

Method: The data was gathered using the "Downloading files" method from NTSB.org. The NTSB database was queried and produced a JSON file for download. 

There are many variables in this dataset. I will pick a few that are the most relevant to this project. 

Dataset variables:

*   Variable 1 HighestInjuryLevel: fatality for this analysis.
*   Variable 2 City: city where accident took place
*   Variable 3 State: state where accident took place 
*   Variable 4 Country: country where accident took place

In [22]:
#FILL IN 2nd data gathering and loading method
df_json = pd.read_json("helicopter_crash_data.json")
df_json.columns

Index(['Oid', 'MKey', 'Closed', 'CompletionStatus', 'HasSafetyRec',
       'HighestInjury', 'IsStudy', 'Mode', 'NtsbNumber',
       'OriginalPublishedDate', 'MostRecentReportType', 'ProbableCause',
       'City', 'Country', 'EventDate', 'State', 'Agency', 'BoardLaunch',
       'BoardMeetingDate', 'DocketDate', 'EventType', 'Launch', 'ReportDate',
       'ReportNum', 'ReportType', 'Vehicles', 'AirportId', 'AirportName',
       'AnalysisNarrative', 'FactualNarrative', 'PrelimNarrative',
       'FatalInjuryCount', 'MinorInjuryCount', 'SeriousInjuryCount',
       'InvestigationClass', 'AccidentSiteCondition', 'Latitude', 'Longitude',
       'DocketOriginalPublishDate'],
      dtype='object')

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

Uniqueness 

There are multiple rows in the dataframe df_csv where the Column of "N" does not contain a unique value. There are multiple aircraft per cell.

In [23]:
#FILL IN - Inspecting the dataframe visually
#inspecting the dataframe visually with the .head() method because the dataframe is too large to view in this notebook. 
#The first issue we can see is that there are some rows that have multiple values in some cells - uniqueness issue. (example, column "N" has multiple aircraft in the cell)
#I would like to drop these rows and focus on accidents only involving one aircraft.
#If time permitted, I would normalize the data and create 2 unique rows from the rows where multpiple aircraft are involved. 
df_csv['N'].head(29)

0     OE-XOS, ES-ETR
1             N216MH
2              N23SD
3             N331ES
4             N262LH
5             N835CS
6             N144SG
7             N118LG
8             D-HSEP
9             PK-LUV
10            ZS-RAC
11            HC-CQY
12     N709PS, UNREG
13            PR-TIB
14            N622LT
15            N617GC
16            N368EV
17             N62CD
18            N881KE
19            N230AE
20            EC-EXE
21            N306FW
22            N199BD
23            VH-ERH
24            9N-AJD
25            TG-MIC
26             N94XA
27            N61486
28    VH-HQH, VH-HYQ
Name: N, dtype: object

In [24]:
#FILL IN - Inspecting the dataframe programmatically

#For the column df_csv['N'], we can see that there are 16 rows where there are multiple aircraft involved. 
df_csv['N'].str.contains(',', na=False).value_counts()

N
False    686
True      16
Name: count, dtype: int64

Issue and justification: 

Having two aircraft listed in a single cell value—often separated by a comma—can be problematic when analyzing a dataset. This makes it difficult to accurately filter, group, or analyze aircraft-specific data, such as counting incidents by aircraft type or correlating characteristics with outcomes. To ensure clean and meaningful analysis, such entries should be split into separate rows or normalized into a relational structure. Removing the rows where two aircraft are listed will suffice for this project.

### Quality Issue 2:

Completeness

In [25]:
#FILL IN - Inspecting the dataframe visually
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Oid                        702 non-null    object
 1   MKey                       702 non-null    int64
 2   Closed                     702 non-null    bool
 3   CompletionStatus           702 non-null    object
 4   HasSafetyRec               702 non-null    bool
 5   HighestInjury              702 non-null    object
 6   IsStudy                    702 non-null    bool
 7   Mode                       702 non-null    object
 8   NtsbNumber                 702 non-null    object
 9   OriginalPublishedDate      385 non-null    object
 10  MostRecentReportType       527 non-null    object
 11  ProbableCause              297 non-null    object
 12  City                       702 non-null    object
 13  Country                    702 non-null    object
 14  EventDate                  702 non-null    object
 15  State                      353 non-null    object
 16  Agency                     702 non-null    object
 17  BoardLaunch                702 non-null    bool
 18  BoardMeetingDate           2 non-null      object
 19  DocketDate                 1 non-null      object
 20  EventType                  702 non-null    object
 21  Launch                     520 non-null    object
 22  ReportDate                 468 non-null    object
 23  ReportNum                  10 non-null     object
 24  ReportType                 702 non-null    object
 25  Vehicles                   702 non-null    object
 26  AirportId                  112 non-null    object
 27  AirportName                111 non-null    object
 28  AnalysisNarrative          545 non-null    object
 29  FactualNarrative           544 non-null    object
 30  PrelimNarrative            32 non-null     object
 31  FatalInjuryCount           702 non-null    int64
 32  MinorInjuryCount           702 non-null    int64
 33  SeriousInjuryCount         702 non-null    int64
 34  InvestigationClass         0 non-null      float64
 35  AccidentSiteCondition      402 non-null    object
 36  Latitude                   529 non-null    float64
 37  Longitude                  529 non-null    float64
 38  DocketOriginalPublishDate  365 non-null    object
dtypes: bool(4), float64(3), int64(4), object(28)
memory usage: 194.8+ KB

In [26]:
#FILL IN - Inspecting the dataframe programmatically
for i in df_json.columns:
    print(f"Column[{i}] = {df_json[i].isna().sum()} null values")

Column[Oid] = 0 null values
Column[MKey] = 0 null values
Column[Closed] = 0 null values
Column[CompletionStatus] = 0 null values
Column[HasSafetyRec] = 0 null values
Column[HighestInjury] = 0 null values
Column[IsStudy] = 0 null values
Column[Mode] = 0 null values
Column[NtsbNumber] = 0 null values
Column[OriginalPublishedDate] = 317 null values
Column[MostRecentReportType] = 175 null values
Column[ProbableCause] = 405 null values
Column[City] = 0 null values
Column[Country] = 0 null values
Column[EventDate] = 0 null values
Column[State] = 349 null values
Column[Agency] = 0 null values
Column[BoardLaunch] = 0 null values
Column[BoardMeetingDate] = 700 null values
Column[DocketDate] = 701 null values
Column[EventType] = 0 null values
Column[Launch] = 182 null values
Column[ReportDate] = 234 null values
Column[ReportNum] = 692 null values
Column[ReportType] = 0 null values
Column[Vehicles] = 0 null values
Column[AirportId] = 590 null values
Column[AirportName] = 591 null values
Column[AnalysisNarrative] = 157 null values
Column[FactualNarrative] = 158 null values
Column[PrelimNarrative] = 670 null values
Column[FatalInjuryCount] = 0 null values
Column[MinorInjuryCount] = 0 null values
Column[SeriousInjuryCount] = 0 null values
Column[InvestigationClass] = 702 null values
Column[AccidentSiteCondition] = 300 null values
Column[Latitude] = 173 null values
Column[Longitude] = 173 null values
Column[DocketOriginalPublishDate] = 337 null values

Issue and justification: *FILL IN*

In this dataset, columns like OriginalPublishedDate, MostRecentReportType, ProbableCause, and others have significant null values. Addressing these will help ensure that analyses conducted on this data is robust, reliable, and actionable. We could possibly choose to fill in these null values with appropriate substitutes (like averages, medians, or mode) or remove rows with significant null values.

### Tidiness Issue 1:
Clear and Descriptive Column Names.
 
Column names should be clear and descriptive, indicating the variable they represent. This clarity helps users understand the dataset without needing extensive documentation.

In [55]:
#FILL IN - Inspecting the dataframe visually
df_csv.columns
#'NtsbNo', 'Mkey', 'N' and 'Unnamed: 37' are just a few examples of column names needing to be changed or updated for clarity.

Index(['NtsbNo', 'EventType', 'Mkey', 'EventDate', 'City', 'State', 'Country',
       'ReportNo', 'N', 'HasSafetyRec', 'ReportType', 'OriginalPublishDate',
       'HighestInjuryLevel', 'FatalInjuryCount', 'SeriousInjuryCount',
       'MinorInjuryCount', 'ProbableCause', 'EventID', 'Latitude', 'Longitude',
       'Make', 'Model', 'AirCraftCategory', 'AirportID', 'AirportName',
       'AmateurBuilt', 'NumberOfEngines', 'Scheduled', 'PurposeOfFlight',
       'FAR', 'AirCraftDamage', 'WeatherCondition', 'Operator', 'ReportStatus',
       'RepGenFlag', 'DocketUrl', 'DocketPublishDate', 'Unnamed: 37'],
      dtype='object')

In [69]:
#FILL IN - Inspecting the dataframe programmatically
df_csv[['N','Unnamed: 37', 'Mkey', 'FAR']].head(20)

                 N  Unnamed: 37    Mkey        FAR
0   OE-XOS, ES-ETR          NaN  200170  NUSN,NUSN
1           N216MH          NaN  199991        091
2            N23SD          NaN  199881        137
3           N331ES          NaN  199861        091
4           N262LH          NaN  199857        091
5           N835CS          NaN  199825        135
6           N144SG          NaN  199774        091
7           N118LG          NaN  199728        091
8           D-HSEP          NaN  199692       NUSN
9           PK-LUV          NaN  199675       NUSC
10          ZS-RAC          NaN  199671        091
11          HC-CQY          NaN  199645        UNK
12   N709PS, UNREG          NaN  199620   121,ARMF
13          PR-TIB          NaN  199771       NUSN
14          N622LT          NaN  199563        UNK
15          N617GC          NaN  199430       PUBU
16          N368EV          NaN  195546       NUSN
17           N62CD          NaN  195427        091
18          N881KE          NaN  195349        091
19          N230AE          NaN  195271        135

Issue and justification: *FILL IN*

The column names are unclear and likely indicate that they're not properly labeled in the dataset. The column names above could represent a specific attribute related to the aircraft or incident. A more descriptive name is needed based on the context of the data. For example, column "N" looks like sometime of registration number for the aircraft. It can be relabeled as "RegistrationNumber" or something similar.

### Tidiness Issue 2:

In [29]:
#FILL IN - Inspecting the dataframe visually

In [30]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [31]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: FILL IN**

In [32]:
# FILL IN - Apply the cleaning strategy

In [33]:
# FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [34]:
#FILL IN - Apply the cleaning strategy

In [35]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 1: FILL IN**

In [36]:
#FILL IN - Apply the cleaning strategy

In [37]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 2: FILL IN**

In [38]:
#FILL IN - Apply the cleaning strategy

In [39]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [40]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [41]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [42]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [43]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN